input {
  beats {
    port => "{{logstash_syslog_port}}"
    tags => ["filebeat"]
#    ssl => true
#    ssl_certificate => /usr/share/logstash/beat-forwarder.crt
#    ssl_key => /usr/share/logstash/beat-forwarder.key
#    ssl_verify_mode => none
  }
}

output {
if "filebeat" in [tags] {
  elasticsearch {
    hosts => "localhost:{{es_local_port}}"
    index => "filebeat-%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
}

